<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">SALES LIST</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search product by details" #input>
    </mat-form-field>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <button class="btn btn-dark p-3 example-full-width" (click)="downloadPDF()">Download PDF</button>
      </div>
      <div class="col">
        <button class="btn btn-dark p-3 example-full-width" (click)="downloadCSV()">Download CSV</button>
      </div>
      <div class="col">
        <button class="btn btn-dark p-3 example-full-width" (click)="printTable()">Print</button>
      </div>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container ntainer matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td class="bg-secondary text-center" mat-cell *matCellDef="let element">
      {{element.id}}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="saleProductName">
    <th mat-header-cell *matHeaderCellDef>Product Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.saleProductName }}
      <div class="example-element-detail m-0"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <span>Customer Name: {{element.customer.customerName}} <span class="m-0">| </span>
          <span class="text-info">
            <a type="button" data-toggle="modal"
            [attr.data-target]="'#exampleModal-' + element.customer.customerId" >More info..</a>
          </span>
          <span>
            <!-- Modal -->
            <div class="modal fade" [id]="'exampleModal-' + element.customer.customerId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Customer Information</h2>
                    </div>
                    <div class="modal-body">
                    <p class="text-dark">Customer information from your sales inventory records.</p>
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <td>{{element.customer.customerName}}</td>
                        </tr>
                        <tr>
                          <th scope="col">Contact</th>
                          <td>{{element.customer.customerContact}}</td>
                        </tr>
                        <tr>
                          <th scope="col">Email</th>
                          <td>{{element.customer.customerEmail}}</td>
                        </tr>
                        <tr>
                          <th scope="col">Address</th>
                          <td>{{element.customer.customerAddress}}</td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </span>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <ng-container matColumnDef="saleProductQty">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.saleProductQty }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <ng-container matColumnDef="saleProductDate">
    <th mat-header-cell *matHeaderCellDef>Sale Date</th>
    <td mat-cell *matCellDef="let element">{{ element.saleProductDate }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="productUnitPrice">
    <th mat-header-cell *matHeaderCellDef>Unit Price</th>
    <td mat-cell *matCellDef="let element">{{ element.productUnitPrice }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Customer</th>
    <td mat-cell *matCellDef="let element">
      {{ element.customer.customerContact }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      Net Purchase Amount -
    </td>
  </ng-container>

  <ng-container matColumnDef="saleProductAmount">
    <th mat-header-cell *matHeaderCellDef>Line Total</th>
    <td  class="bg-secondary" mat-cell *matCellDef="let element">
      {{ element.saleProductAmount }}
    </td>
    <td  class="bg-warning" mat-footer-cell *matFooterCellDef>
      {{ calculatePurchaseNetAmount() | currency : "INR" : "symbol" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-secondary"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns"
  class="example-element-row table-bordered"
  [class.example-expanded-row]="expandedElement === element"
  (click)="expandedElement = expandedElement === element ? null : element"></tr>
  <tr class="bg-secondary" mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of purchase"></mat-paginator>

