<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin-dashboard" class="brand-link mb-2">
        <img src="../../../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Code Crafters</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a routerLink="/admin-dashboard/add-product" class="nav-link">
                        <i class="fab fa-product-hunt"></i>
                        <p class="px-2">
                            ADD PRODUCT
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/add-stock" class="nav-link">
                        <i class="fas fa-shopping-basket"></i>
                        <p class="px-2">
                            ADD PURCHASES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/add-sales" class="nav-link">
                        <i class="fab fa-adversal"></i>
                        <p class="px-2">
                            ADD SALES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/add-customer" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p class="px-2">
                            ADD SUPPLIER
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/show-data" class="nav-link">
                        <i class="fab fa-product-hunt"></i>
                        <p class="px-2">
                            SHOW PRODUCTS
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/show-purchases" class="nav-link">
                        <i class="fas fa-shopping-basket"></i>
                        <p class="px-2">
                            SHOW PURCHASES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/show-sales" class="nav-link">
                        <i class="fab fa-adversal"></i>
                        <p class="px-2">
                            SHOW SALES
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/admin-dashboard/show-customer" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p class="px-2">
                            SHOW CUSTOMER
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
